/**
 * hello DOC main styles and boostrap overrides
 */

@white: #fff;
@black: #333;
@grey: #777;

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


/**
 * Nexa font
 */
@font-face {
 font-family: 'nexa_boldregular';
 src: url('../fonts/nexa/nexa_bold-webfont.eot');
 src: url('../fonts/nexa/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/nexa/nexa_bold-webfont.woff2') format('woff2'),
 url('../fonts/nexa/nexa_bold-webfont.woff') format('woff'),
 url('../fonts/nexa/nexa_bold-webfont.ttf') format('truetype'),
 url('../fonts/nexa/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
 font-weight: normal;
 font-style: normal;

}


@font-face {
 font-family: 'nexa_lightregular';
 src: url('../fonts/nexa/nexa_light-webfont.eot');
 src: url('../fonts/nexa/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/nexa/nexa_light-webfont.woff2') format('woff2'),
 url('../fonts/nexa/nexa_light-webfont.woff') format('woff'),
 url('../fonts/nexa/nexa_light-webfont.ttf') format('truetype'),
 url('../fonts/nexa/nexa_light-webfont.svg#nexa_lightregular') format('svg');
 font-weight: normal;
 font-style: normal;

}


body {
  font-family: 'nexa_lightregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 90px;
  color: @black;
  text-align: center;
}

a, a:visited {
  color: @black;
}


/**
 * navbar
 */
.navbar {
  color: @black;
}

.navbar-default {
  background-color: @white;
  border: 0;
}

.navbar-collapse {
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: @black;
}

nav>.active>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a {
  color: @black;
  background-color: transparent;
  font-family: 'nexa_boldregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: @black;
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: @black;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

// branding
.navbar>.container-fluid .navbar-brand {
  background: url(../images/helloDoc_logo.png) no-repeat;
  text-indent: -9999px;
  width: 122px;
  height: 65px;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar-toggle {
  border: 0;
  margin-top: 35px;
}

.navbar-nav {
  text-align: right;
  margin-top: 0;
  margin-right: 0;
}

@media (min-width: @screen-sm-min) {
  .navbar>.container-fluid .navbar-brand {
    margin-top: 50px;
    margin-left: 50px;
  }

  .navbar-nav {
    text-align: left;
    margin-top: 50px;
    margin-right: 50px;
  }
}


/**
 * Main content wrapper
 */
.wrapper {

}


/**
 * pages
 */
.page {
  min-height: 568px - 90px;
  position: relative;
}

.quote {
  font-size: 24px;
  position: absolute;
  top: 108px;
}

@media (min-width: @screen-md-min) {
  .quote {
    font-size: 28px;
    top: 208px;
  }
}

.quote cite {
  font-family: 'nexa_boldregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
}

.para {
  font-size: 19px;
  position: absolute;
  top: 20px;
  text-align: left;
}

@media (min-width: @screen-md-min) {
  .para {
    font-size: 24px;
  }
}

.para h3 {
  font-family: 'nexa_boldregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

@media (min-width: @screen-md-min) {
  .para h3 {
    font-size: 20px;
  }
}

.para ul {
  list-style: square;
  margin-bottom: 30px;
  font-size: 17px;
  padding-left: 10px;
}

@media (min-width: @screen-md-min) {
  .para ul {
    font-size: 19px;
    margin-bottom: 50px;
  }
}

.para ul ul {
  list-style: disc;
  padding-left: 0;
  margin-bottom: 0;
}

.para ul li {
  margin: 0 25px;
}

.para ul li a {
  text-decoration: underline;
}
